<div class="card">
    <a class="text-dark text-decoration-none" href="/post/{{id}}">
        <div class="card-header text-start">
        <h3>{{title}}</h3>
        <h5 class="text-end">by: {{user.username}} on {{format_date publish_date}}</h5>
        </div>
        <div class="card-body">
            <p class="card-text">{{content}}</p>
        </div>
    </a>
</div>