<div class="card">  
        <h5 class="card-header">{{posts.user.username}}</h5>
        <h5 class="card-header text-right">{{posts.date}}</h5>
        <div class="card-body">
            <h5 class="card-title">{{posts.title}}</h5>
            <p class="card-text">{{posts.content}}</p>
        </div>
</div>

{{#each posts.comments as |Comment|}}
{{!-- how do I include User.username --}}
<div>
    <h5 class="card-header">{{Comment.content}}</h5>
    <h5>{{Comment.user.username}}</h5>
    <p>{{Comment.publish_date}}</p>

</div>
{{/each}}