<div class="card m-3 border border-danger">
        <div class="card-header text-start">
            <h3>{{posts.title}}</h3>
            <h5 class="text-end">by: {{posts.user.username}} on {{format_date posts.publish_date}}</h5>
        </div>
        <div class="card-body">
            <p class="card-text">{{posts.content}}</p>
        </div>
</div>

{{#each posts.comments as |Comment|}}
<div class="card m-3 border border-danger">
    <div class="card-header">
        <h5 class="text-end">Comment by: {{Comment.user.username}} on {{format_date Comment.publish_date}}</h5>
    </div>
    <div class="card-body">
        <p class="card-text">{{Comment.content}}</p>
    </div>
</div>
{{/each}}

<div class="card m-3 border border-danger">
    <label for="exampleFormControlTextarea1" class="form-label">Comment:</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>

<div class="text-center">
    <button type="submit" class="btn btn-danger align-center" id="new-post"> Add Comment</button>
</div>